<div class="bd-masterhead mb-3" id="content">
    <!-- HEAD -->
    <div class="container-md">
        <br>
        <h3>The Best AI Camping Experience</h3>
        <hr>
        <p>You can refer to the associated <a href="https://github.com/frederikblais/Chat-Bot">GitHub repository</a></p>
        <p>Feel free to send any questions to: fblais@fbbusiness.ca</p>
    </div>

    <!-- BODY -->
    <div class="container-md">
        <br>
        <h3>Join the hype!</h3>
        <hr>
        <p>Others that made the right choice <a href="/reservation"> join them</a></p>

    </div>
</div>