#chatbox {
  position: fixed;
  bottom: 0;
  right: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  clear: both;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
}

.bot {
  background: #eee;
  float: left;
}

.user {
  float: right;
  background: #0084ff;
  color: #fff;
}

.bot + .user {
  border-bottom-right-radius: 5px;
}

.bot + .user {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user:last-of-type {
  border-bottom-right-radius: 30px;
}

.canvas {
  height: 585px;
  overflow-y: auto;
}