<div class="bd-masterhead mb-3" id="content">
  <!-- HEAD -->
  <div class="container-md">
    <br />
    <h3>Reserve your trip! (UNDER CONSTRUCTION)</h3>
    <hr />
    <p>You can reserve with our <a href="/chat">AI powered assistant</a></p>
    <p>Feel free to use this page if you are old fassioned</p>
    <br />
  </div>

  <!-- BODY -->
  <div class="container-md">
    <!-- Reservation Name -->
    <div class="col-md-12">
      <div class="col-md-4">
        <label for="validationName" class="form-label">Reservation name</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="basic-addon1"
            required
            placeholder="Name"
          />
        </div>
      </div>
    </div>

    <br />

    <!-- Number of People -->
    <div class="col-md-12">
      <div class="col-md-4">
        <label for="validationPeople" class="form-label"
          >Amount of people</label
        >
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            id="people"
            aria-describedby="basic-addon1"
            required
            placeholder="Amount"
          />
        </div>
      </div>
    </div>

    <br />

    <!-- Desired lot -->
    <div class="col-md-12">
      <div class="col-md-4">
        <label for="validationLot" class="form-label"
          >Desired lot (<a href="/" target="_blank">see list</a>)</label
        >
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="people"
            aria-describedby="basic-addon1"
            required
            placeholder="Lot #"
          />
        </div>
      </div>
    </div>

    <br />

    <!-- Date In -->
    <div class="col-md-12">
      <div class="col-md-4">
        <label for="dateIn">Date of arrival</label>
        <input id="dateIn" class="form-control" type="date" />
      </div>
    </div>

    <br />

    <!-- Date Out -->
    <div class="col-md-12">
      <div class="col-md-4">
        <label for="dateOut">Date of departure</label>
        <input id="dateOut" class="form-control" type="date" />
      </div>
    </div>

    <br />

    <!-- Checkbox -->
    <div class="input-group mb-3 has-validation">
      <input class="form-check-input me-2" type="checkbox" value="" id="TOS" />
      <label class="form-check-label" for="flexCheckDefault">
        I accept the <a>terms and conditions</a>
      </label>
    </div>

    <!-- Submit -->
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </div>
</div>
