<div class="bd-masterhead mb-3" id="content">
  <!-- HEAD -->
  <div class="container-md">
    <br />
    <h3>Reserve your trip! (UNDER CONSTRUCTION)</h3>
    <hr />
    <p>You can reserve with our <a href="/chat">AI powered assistant</a></p>
    <p>Feel free to use this page if you are old fashioned</p>
    <br />
  </div>

  <!-- BODY -->
  <div class="container-md">
    <!-- Reservation Name -->
    <div class="col-md-12">
      <div class="col-md-4">
        <label for="validationName" class="form-label">Reservation name</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="name"
            aria-describedby="basic-addon1"
            required
            placeholder="Name"
            [(ngModel)]="reservationName"
            [ngClass]="{
              'is-valid': isReservationNameValid && submitted,
              'is-invalid': !isReservationNameValid && submitted
            }"
            (keydown.enter)="onSubmitClick()"
          />
        </div>
      </div>
    </div>

    <br />

    <!-- Number of People -->
    <div class="col-md-12">
      <div class="col-md-4">
        <label for="validationPeople" class="form-label"
          >Amount of people</label
        >
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            id="people"
            aria-describedby="basic-addon1"
            required
            placeholder="Amount"
            [(ngModel)]="peopleCount"
            [ngClass]="{
              'is-valid': isPeopleCountValid && submitted,
              'is-invalid': !isPeopleCountValid && submitted
            }"
            (keydown.enter)="onSubmitClick()"
          />
        </div>
      </div>
    </div>

    <br />

    <!-- Desired lot -->
    <div class="col-md-12">
      <div class="col-md-4">
        <label for="validationLot" class="form-label"
          >Desired lot (<a href="/" target="_blank">see list</a>)</label
        >
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            id="people"
            aria-describedby="basic-addon1"
            required
            placeholder="Lot #"
            [(ngModel)]="lot"
            [ngClass]="{
              'is-valid': isLotValid && submitted,
              'is-invalid': !isLotValid && submitted
            }"
            (keydown.enter)="onSubmitClick()"
          />
        </div>
      </div>
    </div>

    <br />

    <!-- Date In -->
    <div class="col-md-12">
      <div class="col-md-4">
        <label for="dateIn">Date of arrival</label>
        <input
          id="dateIn"
          class="form-control"
          type="date"
          [(ngModel)]="arrival"
          [ngClass]="{
            'is-valid': isArrivalValid && submitted,
            'is-invalid': !isArrivalValid && submitted
          }"
          (keydown.enter)="onSubmitClick()"
        />
      </div>
    </div>

    <br />

    <!-- Date Out -->
    <div class="col-md-12">
      <div class="col-md-4">
        <label for="dateOut">Date of departure</label>
        <input
          id="dateOut"
          class="form-control"
          type="date"
          [(ngModel)]="departure"
          [ngClass]="{
            'is-valid': isDepartureValid && submitted,
            'is-invalid': !isDepartureValid && submitted
          }"
          (keydown.enter)="onSubmitClick()"
        />
      </div>
    </div>

    <br />

    <!-- Checkbox -->
    <div class="input-group mb-3 has-validation">
      <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        id="TOS"
        (keydown.enter)="onSubmitClick()"
        [ngClass]="{
          'is-valid': isTOSValid && submitted,
          'is-invalid': !isTOSValid && submitted
        }"
      />
      <label class="form-check-label" for="flexCheckDefault">
        I accept the <a href="/">terms and conditions</a>
      </label>
    </div>
    <div class="input-group mb-3 has-validation">
      <input
        class="form-check-input me-2"
        type="checkbox"
        value=""
        id="CS"
        (keydown.enter)="onSubmitClick()"
        [ngClass]="{
          'is-valid': isCancelValid && submitted,
          'is-invalid': !isCancelValid && submitted
        }"
      />
      <label class="form-check-label" for="flexCheckDefault">
        I understand that I need to <a href="/">contact support</a> if I need to
        cancel a reservation
      </label>
    </div>

    <!-- Errors -->
    <div class="alert alert-danger" *ngIf="errors.length > 0">
      <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>

    <!-- Submit -->
    <div class="col-12">
      <button
        class="btn btn-primary"
        type="submit"
        (click)="onSubmitClick()"
        (keydown.enter)="onSubmitClick()"
      >
        Submit form
      </button>
    </div>
  </div>
</div>
