<div class="bd-masterhead mb-3" id="content">
  <!-- HEAD -->
  <div class="container-md">
    <br />
    <h3>Admin Center</h3>
    <hr />
    <br />
  </div>

  <div class="container-md">
    <div class="row">
      <!-- LEFT -->
      <div class="col-sm-4">
        <button class="btn btn-primary" type="submit">Edit</button>
      </div>
      <!-- RIGHT -->
      <div class="col-sm-8" >
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col"># People</th>
              <th scope="col">Lot</th>
              <th scope="col">DOA</th>
              <th scope="col">DOD</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservation of reservationArray">
              <th scope="row">{{ reservation.name }}</th>
              <td>{{ reservation.name }}</td>
              <td>{{ reservation.name }}</td>
              <td>{{ reservation.name }}</td>
              <td>{{ reservation.name }}</td>
              <td>{{ reservation.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
  </div>
</div>
